<div class='container app-container'>
	<div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">Utah Food Truck Association</h3>
      <nav class="nav nav-masthead">
        <li class="nav-item">
           <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Trucks", trucks_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About Us", about_path, class: "nav-link" %>
        </li>        
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
			</nav>
  	</div>
	</div>
</div>