<div class=' app-container'>
	<div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">Utah Food Truck Association</h3>
      <nav class="nav nav-masthead app-nav">
        <%= nav_helper 'nav-link', 'span' %>

        <span><p class="navbar-text logs nav-login">Have an account?</p></span>
        <span class="nav-item">
          <%= login_helper 'nav-link' %>
        </span>
			</nav>
  	</div>
	</div>
</div>

