<!-- <div class="container">
	<div class="inner-cover">
		<h1 class="cover-heading">Truck Locations</h1>
			<p class="lead">We have the most logistical way to find your favorite food trucks!</p>
			<p class="lead">
			    <%#= link_to "Click here to see the trucks!", trucks_path, class: "btn btn-lg btn-secondary home-button" %>
			</p>
	</div>
</div> -->

<div class="list-group">
  <a href="trucks" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-center">
      <h1 class="mb-1">Truck Locations</h1>
    </div>
    <p class="mb-1">We have the most logistical way to find your favorite food trucks!</p>
  </a>

  <% @trucks.each do |truck| %>
	  <a href="trucks/<%= truck.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	    	<div class="row">
	    		<div class="col-md-6">
	    			<%= image_tag truck.thumb_image, width: '100%' %>
	    		</div>

	    		<div class="col-md-6">
	    			<h3><%= truck.truck_name %></h3>
	    		</div>
	    	</div>
	    </div>
	    
	    <p><%= truck.description.truncate(70) %></p>
	  </a>
	<% end %>

	<!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a> -->
</div>