<div class="container">
	<div class="inner-cover">
		<h1 class="cover-heading">Truck Locations</h1>
			<p class="lead">We have the most logistical way to find your favorite food trucks!</p>
			<p class="lead">
			    <%= link_to "Click here to see the trucks!", trucks_path, class: "btn btn-lg btn-secondary home-button" %>
			</p>
	</div>
</div>