<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=jared.romney28%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FDenver" style="border-width:0" width="100%" height="650" frameborder="0" scrolling="no"></iframe>


