<div class="company-info-container container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5 text-center">

                    <h1>WHO WE ARE</h1>
                    <hr>
                    <h3>The Utah Food Truck Association is a non-profit organization dedicated to unifying and promoting Utah mobile food vendors and serving as a resource for them, as well as, local governments, community organizations, and the public.  As members, we are united in the common goal of elevating our image as mobile food vendors, giving exceptional customer service and supporting the community we serve in meaningful ways including education, advocacy and community outreach.</h3>
                </div>
            </div>
        </div>
    </div>


	<br>

 <div class="contact-us-map-container container-fluid">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-md-5 contactusmap">

                    <img src="https://skipio.com/wp-content/themes/salient-child/images/contact-us-map.png" alt="" class="img-responsive-in" />

                </div><!-- ending of map -->

                <div class="col-xs-12 col-md-7 contactusinfobox">

                    <h1>Contact us</h1>

                    <p>We look forward to meeting you and helping you discover how Utah Food Truck Association can completely change how food trucks are promoted! Reach out!</p>

                    <div class="star-content contact-info-section">

                        UFTA address <br>
                        1234 example ave, Midvale UT

                    </div>
                    <div class="support-content contact-info-section">

                        UFTA Contact Phone or Text:<br>

			Support: text or call - 123-123-1234

                    </div>
                </div>
            </div>
        </div>
    </div>