@import "bootstrap";

// @font-face {
//   font-family: 'Open Sans';
//   src:font-url('Open_Sans/OpenSans-Regular.ttf')
// }

// @font-face {
//   font-family: 'Sansita';
//   src:font-url('Sansita/Sansita-Regular.ttf')
// }

body {
  // min-height: 75rem; /* Can be removed; just added for demo purposes */
  // font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  // font-family: 'Sansita', sans-serif;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 60rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* 
* Custom styles
*/

.card {
  border: 2px solid white;
}
.card:hover {
  border: 2px solid lightgrey;
  transition-delay: .3s;
}

.image-background {
    /* The image used */

    /* Full height */
    height: 400px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}